#contact{
    background-color: $Contact;
}
.info-section{
    margin-bottom:40px;
    p{
        cursor: default;
        display: inline;
    }
   
}
.info-cont iframe{
    width: 400px;
    height: 300px;
}
.line{
    position: relative;
    &::before{
        content: "";
        width: 30%;
        height: 2px;
        background-color: rgb(172, 172, 172);
        position: absolute;
        top: -18px;
        left:0;
    }
}
.info-title{
    font-size: 30px;
    margin-bottom: 10px;
}
a.info-desc{
    font-size: 14px;
    color: black;
    text-decoration: black;
    &:hover{
        color: $main-blue;
        .fa{
        animation: shakeA 300ms alternate;
    }
}
}

p.info-desc{
    font-size: 14px;
    color: black;
    text-decoration: black;
    &:hover .fa{
        animation: shakeP 350ms alternate;
    }
}
//Shakes

@keyframes shakeA {
    50%{
        transform:rotate(-15deg) scale(1.2);
    }
    100%{
        transform: rotate(15deg) scale(1);
    }
}
@keyframes shakeP {
    50%{
        transform:rotate(180deg) scale(1.2);
    }
    100%{
        transform: rotate(360deg) scale(1);
    }
}

//Icons
.fa{ 
    margin-right: 5px;
}

//Form
.form-group{
    @include flex (flex,column,unset,unset);
    margin-bottom: 25px;
    input[type=submit]{
        margin: 0 auto;
        padding: 5px 0;
        width: 200px;
        font-size: 16px;
        border: none;
        outline: none;
        background-color: $Contact;
        border-radius: 4px;
        font-weight: 500;
        color: $blue-text;
        transition: all 200ms ;

        &:hover{
            transform: scale(1.2);
        }
    }
}

form{
    label, p{
        font-size: 18px;
        margin-bottom: 8px;
        font-weight: 600;   
    }
    .input{
        height: 4rem;
        padding: 15px;
        font-size: 1.6rem;
        background-color: $Contact;
        border: none;
        border-bottom: 1px solid rgb(172, 172, 172);
        outline: none;
        transition: all 150ms;

        &:focus{
            border-bottom: 2px solid $main-blue;
        }
    }
    select{
        @extend .input;
        padding: 0 0 0 10px;
        height: 4rem;
        font-weight: 600;
        option{
            font-size: 1.7rem;
        }
    }
    #file{
        font-size: 1.2rem;
    }
    textarea{
        @extend .input;
        height: 14rem;
        color: rgb(66, 66, 66);
        resize: none;
        &::-webkit-scrollbar{
            width: 5px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: rgb(172, 172, 172);
            border-radius: 30px;
        } 
    }
}
.contact-cont{
    padding: 100px 0;

    position: relative;
    &::before{
        content: "";
        width: 90%;
        height: 2px;
        background-color: rgb(172, 172, 172);
        position: absolute;
        top: 0;
        left:50%;
        transform: translate(-50%,0);     
    }
}
.selected{
    animation: selected 500ms;
}
@keyframes selected{
    50%{transform: scale(1.2);}
    100%{transform: scale(1);}
}

.form-title{
    @extend .info-title;
    margin-bottom: 2rem;
}