@media (max-width:991px){
    #header.hide{
        top: -200px;
    }
    .intro{
        margin-top: 200px;
    }
}


@media (min-width: 1200px) and (max-width: 1400px)  {

    .grid-header{   
        nav{
            justify-content: center;
            ul{
                padding: 0;
                li{
                    padding: 10px;
                    margin: 10px;
                }
            }
        }
        img{
            width: 90px;
            height: 90px;
        }
       
    }
    .intro{
        margin-top: 90px;
    }
}

@media (min-width: 992px) and (max-width: 1200px)  {
    .grid-header{
        padding: 15px 0;
        nav{
            width: 100%;
            ul{
                padding: 0;
                width: 100%;
                justify-content: center;
                li{
                    padding: 0;
                    margin: 15px;
                   
                }
            }
        }
        img{
            width: 70px;
            height: 70px;
            padding: 5px;
        }   
    }
}

@media (min-width:769px) and (max-width: 991px) {

    .grid-header{
        display: flex;
        flex-direction: column;
        >div:first-of-type{
            justify-content: center;
        }
        nav {
            position: relative;
            height: 100%;
            // .li{
            //     padding: 15px;
            //     margin: 0 10px;
            // }
        }  
    }
    .mediaA{
        display: inline;
    }
    .mediaB{
        display: none;
    }
    .intro{
        margin-top: 165px;
    }
}

@media (min-width:576px) and (max-width: 768px) {
    .grid-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        nav{
            display: flex;
            justify-content: space-around;
            // margin-bottom: 15px;
            // .li{
            //     padding: 0px 15px;
            //     margin: 10px;
            // }
        }
    }
    .mediaA{
        display: inline;
    }
    .mediaB{
        display: none;
    }
    .intro{
        margin-top: 155px;
    }
}
@media (max-width: 576px) {

    .grid-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >div:first-of-type img{ //Logo-Title div
            height: 90px;
            width: 90px;
            padding: 10;
        }
        div:last-of-type{
            justify-content: center;
            align-items: center;
        }
        nav{
            display: flex;
            justify-content: space-around;
            margin-bottom: 15px;
            .li img{
                height: 30px;
                width: 30px;
            }
        }
    }
    .mediaB{
        display: none;
    }
    .mediaA{
        display: inline;
    }
    // Intro
    .intro{
        margin-top: 135px;
    }
    //About us
    .cont{
        margin: 20px;
    }
    #about-us div:last-of-type p{ //Cont p
        line-height: 3.5rem;
    }
    //Services

    .Cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .Card{
        margin: 20px;
        width: 315px;
        height: 420px;
        img{
            display: none;
        }
    }
    .cardBody{
        height: 75%;
        >div:last-of-type{
            a, button{
                padding: 15px 15px;
            }
        }
    }
    .cardHead{
        height: 120px;
        p{
            left: 40%;
        }
    }
    .cardFace-front{
        padding: 15px 15px 0 15px;
        ul{
            margin: 0;
        }
    }
}
@media (max-width: 500px) {//Adjust header gap
    .grid-header nav .li img{
        display: none;
    }
    .intro{
        margin-top: 132px;
    }
    .main-subtitle{
        margin: 0 10px;
    }
    .main-subtitle-comment{
        font-size:20px ;
    }
}
@media (max-width: 400px) {//Adjust header gap
    .intro{
        margin-top: 129px;
    }
    .main-subtitle-comment{
        font-size:18px ;
    }
}